<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/logo.jpg">

    <link rel="stylesheet" href="/style/QuienesSomos.css">

    <title>CiET Framework</title>
    <script src="/Scripts/menu-footer.js"></script>
</head>

<body>
    <header>
        <script>
            HTMLImporter.import("/Template/menu.html");
        </script>
    </header>
    <section>
        <header id="encabezadoSomos">
            <h1>CiET Framework</h1>
        </header>
        <div class="description-somos">
            <p>
                Una vez obtenidos los resultados de esta evaluación de su madurez en las prácticas de emergencia mediante la aplicación del Marco QuEP, las técnicas propuestas y sus resultados son importados por la I-Tool (Herramienta de Integración), que forma parte
                del Marco CiET (Ver Figura). La I-Tool integra el marco utilizado para evaluar la madurez (QuEP-Tool en nuestro caso, pero podría ser cualquier otro marco de evaluación) para obtener conocimiento (Núñez et al, 2017) que puede ser utilizado
                para generar nuevo conocimiento en forma de planes de formación. El CiET Formación gestiona los planes de capacidades en función de los objetivos de aprendizaje, la evaluación de contenidos y la retroalimentación del proceso formativo
                para conseguir la mejora continua y el apoyo al proceso de enseñanza-aprendizaje a través de recursos internos y externos. Cada objetivo de aprendizaje debe incluir contenidos como textos, imágenes, vídeos, juegos, tutoriales, otros recursos
                (serious games) o recursos externos (fuente de datos) que permitan a los interesados adquirir los conocimientos necesarios para afrontar una emergencia. La formación puede realizarse de forma iterativa para conseguir una mejora continua
                del aprendizaje. El siguiente paso es incluir la plataforma CiET-DM (CiET-Decision Making), que presenta los resultados obtenidos en un cuadro de mando que contiene los principales indicadores implicados en la consecución de los objetivos
                de aprendizaje y apoya la toma de decisiones para optimizar la formación.


            </p>
            <figure id="imagenFamilia">
                <img src="/images/imgSomos/ciet_fw.jpg" alt="">
            </figure>
        </div>

    </section>
    <footer id="pie">
        <div class="cajaInfo">
            <h2>CiET Framework</h2>
            <p>Continuos Improvement for Emergency Training</p>
        </div>
        <div class="cajaInfo">
            <h5 class="card-title">ISSI - IUMTI</h5>
            <p class="card-text">UNIVERSITAT POLITÉCNICA DE VALENCIA</p>
            <p class="card-text">Copyright ® 2021</p>
        </div>
        <div class="cajaInfo">
            <figure id="imageni">
                <img src="/images/logoi.jpg" alt="">
            </figure>
        </div>
    </footer>
</body>

</html>