<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/logo.jpg">

    <link rel="stylesheet" href="/style/QuienesSomos.css">

    <title>CiET Framework</title>
    <script src="/Scripts/menu-footer.js"></script>
</head>

<body>
    <header>
        <script>
            HTMLImporter.import("/Template/menu.html");
        </script>
    </header>
    <section>
        <header id="encabezadoSomos">
            <h1>CiET Tools</h1>
        </header>
        <div class="description-somos">
            <p>
                Una adecuada Gestión del Conocimiento favorece la toma de decisiones en las organizaciones, especialmente las que conciernen al personal y a su preparación para emergencias. El CiET-DM garantiza que la toma de decisiones sea uniforme en toda la organización,
                por lo que debe implementar un proceso que todos puedan seguir. La figura 6 muestra el proceso CiET-DM de transformación de la información en conocimiento para ayudar a la toma de decisiones. En primer lugar, se evalúa la madurez de la
                organización en cuanto a la gestión de su plan de emergencia, a partir de una evaluación mediante el marco QuEP. Segundo, en función de los resultados obtenidos, aplicamos las técnicas y políticas necesarias. Tercero, las acompañamos con
                la formación personalizada que propone el marco CiET. Cuarto, tras la formación, se evalúan los conocimientos adquiridos y se procesan los datos resultantes para obtener información sobre el nivel de formación de los interesados. Por último,
                la información se transforma en conocimiento para que la organización pueda tomar decisiones sobre el nivel de preparación de las personas en la gestión de emergencias.


            </p>
            <figure id="imagenFamilia">
                <img src="/images/imgSomos/ciet_dashboard.jpg" alt="">
            </figure>
        </div>

    </section>
    <footer id="pie">
        <div class="cajaInfo">
            <h2>CiET Framework</h2>
            <p>Continuos Improvement for Emergency Training</p>
        </div>
        <div class="cajaInfo">
            <h5 class="card-title">ISSI - IUMTI</h5>
            <p class="card-text">UNIVERSITAT POLITÉCNICA DE VALENCIA</p>
            <p class="card-text">Copyright ® 2021</p>
        </div>
        <div class="cajaInfo">
            <figure id="imageni">
                <img src="/images/logoi.jpg" alt="">
            </figure>
        </div>
    </footer>
</body>

</html>