<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/logo.jpg">

    <link rel="stylesheet" href="/style/QuienesSomos.css">

    <title>CiET Framework</title>
    <script src="/Scripts/menu-footer.js"></script>
</head>

<body>
    <header>
        <script>
            HTMLImporter.import("/Template/menu.html");
        </script>
    </header>
    <section>
        <header id="encabezadoSomos">
            <h1>CiET Model</h1>
        </header>
        <div class="description-somos">
            <p>
                Hemos definido el modelo de capacidad para la gestión de emergencias, llamado modelo CiET (Mejora continua para la capacitación en gestión de emergencias). Nuestro trabajo se basa en este modelo que permite personalizar los contenidos de capacitación
                de cada actividad y fase de emergencia para cada uno de los participantes. La importancia de una capacitación óptima se traduce en una mejor capacidad de recuperación en el manejo de emergencias, así como en la reducción de la cantidad
                de víctimas y los costos resultantes de un evento inesperado. El primer paso para crear un plan de capacidades es identificar los parámetros generales, como las dimensiones y técnicas de la capacitación, las fases y actividades de la gestión
                de emergencias y los objetivos de aprendizaje esperados. El segundo paso considera la importancia de la preparación de los participantes en el manejo de emergencias. Basamos esto en las dimensiones de capacitación de Ferradas y en las
                técnicas de Fernández y entrenadores expertos para definir un modelo de capacidad que enfatiza la personalización de los contenidos de capacitación para cada una de las actividades de cada fase, considerando tres fases: pre-desastre, respuesta
                y post-desastre. (Aligne, 2009). Identificamos los principales contenidos que se enseñarán en el proceso de capacitación con respecto a las actividades de las fases de manejo de emergencias, como se muestra en la Figura 1. En la planificación
                o fase previa al desastre, los participantes deben recibir capacitación para identificar el tipo de emergencias, para identificar medios de protección, conocer estructuras de edificios, conocer el plan de emergencia, conocer las regulaciones
                legales e institucionales de la organización, detectar crisis, realizar análisis de riesgos e identificar una alerta (alerta de crisis). En la fase de respuesta, los participantes deben recibir capacitación en temas vitales, como conocer
                las rutas de evacuación, identificar señales y usar extintores de incendios. El equipo de respuesta también debe estar capacitado para usar equipos de comunicación y rescate y para dar primeros auxilios y actuar de manera eficiente hasta
                el retorno a la normalidad. En el análisis o en la fase posterior al desastre, los participantes deben recibir capacitación para brindar apoyo psicológico a las víctimas, analizar los costos de los daños, mejorar su resistencia a los desastres
                e identificar riesgos futuros. El tercer paso fue identificar a los participantes en el proceso de capacidad, para lo cual nos referimos a la siguiente clasificación: organización, planificadores, trabajadores, respondedores y ciudadanos
                (Núñez et al., 2015). En el proceso de capacidad hay dos roles identificados, el entrenador y el alumno. La organización, los planificadores y los respondedores pueden desempeñar el papel de formadores y todos los interesados cumplen el
                rol de aprendiz. También puede haber un entrenador externo, que sea un experto en el tema a capacitar y que no forme parte de las partes interesadas mencionadas. El cuarto paso fue relacionar a las partes interesadas que participan en
                la capacitación con el contenido y la dimensión de la capacitación. Es importante tener claros los contenidos, la dimensión a la que pertenecen y las personas que deberían recibir capacitación, ya que una capacitación adecuada puede reducir
                los costos y mejorar la capacidad de recuperación (Penadés et al., 2017) de las personas en situaciones de emergencia
            </p>

            <figure id="imagenFamilia">
                <img src="/images/imgSomos/capability_plan.jpg" alt="">
            </figure>
            <figure id="imagenFamilia">
                <img src="/images/imgSomos/dimensiones.jpg" alt="">
            </figure>
            <figure id="imagenFamilia">
                <img src="/images/imgSomos/ciet_model.jpg" alt="">
            </figure>
        </div>

    </section>
    <footer id="pie">
        <div class="cajaInfo">
            <h2>CiET Framework</h2>
            <p>Continuos Improvement for Emergency Training</p>
        </div>
        <div class="cajaInfo">
            <h5 class="card-title">ISSI - IUMTI</h5>
            <p class="card-text">UNIVERSITAT POLITÉCNICA DE VALENCIA</p>
            <p class="card-text">Copyright ® 2021</p>
        </div>
        <div class="cajaInfo">
            <figure id="imageni">
                <img src="/images/logoi.jpg" alt="">
            </figure>
        </div>
    </footer>
</body>

</html>