<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/logo.jpg">

    <link rel="stylesheet" href="/style/QuienesSomos.css">

    <title>CiET Framework</title>
    <script src="/Scripts/menu-footer.js"></script>
</head>

<body>
    <header>
        <script>
            HTMLImporter.import("/Template/menu.html");
        </script>
    </header>
    <section>
        <header id="encabezadoSomos">
            <h1>Quienes Somos</h1>
        </header>
        <div class="description-somos">
            <p>
                El grupo ISSI es parte del Grupo de Investigación de Programación Lógica e Ingeniería de Software (cuyo acrónimo es GPLIS, por su nombre en español). Históricamente, nuestros esfuerzos de investigación han dado como resultado un modelo de objeto formal
                y declarativo llamado OASIS, y sus herramientas asociadas, que van desde entornos de creación rápida de prototipos hasta compiladores de modelos que permiten la generación automática de código en lenguajes de programación orientados a
                objetos. Nuestros intereses de investigación actuales incluyen ingeniería de requisitos, métodos formales, arquitecturas de software, modelado orientado a objetos, compiladores de modelos, desarrollo orientado a aspectos, sistemas distribuidos,
                evolución de software, gestión de modelos, gestión de flujo de trabajo, procesos de software y métodos ágiles, bibliotecas digitales, ingeniería de documentos y sistemas de gestión de emergencias.

            </p>
            <figure id="imagenFamilia">
                <img src="/images/imgSomos/fondo.jpg" alt="">
            </figure>
        </div>

    </section>
    <footer id="pie">
        <div class="cajaInfo">
            <h2>CiET Framework</h2>
            <p>Continuos Improvement for Emergency Training</p>
        </div>
        <div class="cajaInfo">
            <h5 class="card-title">ISSI - IUMTI</h5>
            <p class="card-text">UNIVERSITAT POLITÉCNICA DE VALENCIA</p>
            <p class="card-text">Copyright ® 2021</p>
        </div>
        <div class="cajaInfo">
            <figure id="imageni">
                <img src="/images/logoi.jpg" alt="">
            </figure>
        </div>
    </footer>
</body>

</html>